aiohttp
async-timeout
attrs
certifi
chardet
discord
discord.py
dnspython
idna
imgurpython
multidict
mysql-connector
praw
prawcore
query-string
request
requests
six
update-checker
urllib3
websocket-client
websockets
yarl
